.home-main {
  text-align: center;
  align-items: center;
  // justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgba($color: white, $alpha: 1);
  min-height: 100vh;

  .home-introSection {
    // border: 1px solid black;
    margin-top: 10rem;
    min-height: 20rem;

    .col-1 {
      // border: 1px solid red;
      Img {
        border-radius: 30%;
      }
    }
    .col-2 {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      // border: 1px solid blue;
    }
  }

  .home-title {
    text-align: center;

    h1 {
      font-size: 4rem;
      font-weight: bold;
    }
  }
  .home-subtitle {
    color: darkgrey;

    h5 {
      font-size: 2rem;
      font-weight: bold;
    }
    .button-resume {
      margin-top: 1rem;
      background-color: gray;
      color: white;
      padding: 10px 20px; /* Adjust padding as needed */
      border: none;
      border-radius: 15px; /* Add rounded corners if desired */
      cursor: pointer;
    }
  }
  .home-connect {
    // border: 1px solid blue;

    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    width: 100%;
    position: absolute;
    bottom: 0;

    .social-button {
      background-color: darkgrey;
      border: none;
      margin: 0.5rem;
    }

    .home-connect-subHeading {
      h4 {
        color: grey;
        size: 0.5rem;
        font-weight: bolder;
      }
    }
  }

  @media (max-width: 768px) {
    .home-introSection {
      .d-flex.align-items-stretch {
        flex-direction: column;
      }

      .col-1 {
        width: 100%;
        img {
          width: 60%;
          height: 60%;
        }
      }

      .col-2 {
        width: 100%;
        text-align: center;

        h1 {
          font-size: 2rem;
        }
        h5 {
          font-size: 1rem;
        }
      }
    }

    .home-connect {
      bottom: 0;
      margin-top: 5rem;
      position: absolute;
      text-align: center;
      .social-button {
        margin: 0.5rem;
      }
    }
  }
}

.home-main.dark {
  background-color: rgba(17, 17, 17, 255);
  min-height: 100vh;

  .home-title {
    text-align: center;

    h1 {
      color: white;
      font-size: 4rem;
      font-weight: bolder;
    }
  }

  @media (max-width: 768px) {
    .home-introSection {
      .d-flex.align-items-stretch {
        flex-direction: column;
      }

      .col-1 {
        width: 100%;
        img {
          width: 60%;
          height: 60%;
        }
      }

      .col-2 {
        width: 100%;
        text-align: center;

        h1 {
          font-size: 2rem;
        }
        h5 {
          font-size: 1rem;
        }
      }
    }

    .home-connect {
      bottom: 0;
      margin-top: 5rem;
      position: absolute;
      text-align: center;
      .social-button {
        margin: 0.5rem;
      }
    }
  }
}
