.work-main {
  padding-top: 4rem;
  background-color: rgba($color: white, $alpha: 1);

  .work-title {
    h2 {
      font-weight: bolder;
    }
  }

  .work-body {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba($color: black, $alpha: 0.1);
  }
}

.work-main.dark {
  background-color: rgba(17, 17, 17, 255);
  // min-height: 100vh;

  .work-title {
    h2 {
      font-weight: bolder;
      color: white;
    }
    p {
      color: white;
    }
  }

  .work-body {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba($color: white, $alpha: 0.1);

    .vertical-timeline-element-date {
      color: rgba($color: white, $alpha: 1);
    }
    .vertical-timeline-element-content {
      background: rgba($color: white, $alpha: 0.8);
    }
  }
}
